name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
      - name: Install Packages
        run: npm i -f
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - eslint: 9
            node: 20
          - eslint: 9
            node: 22
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install Packages
        run: npm i -f
      - name: Install ESLint ${{ matrix.eslint }}
        run: |+
          npm i -D eslint@${{ matrix.eslint }} -f
          rm -rf node_modules
          npm i -f
        if: matrix.eslint != 9
      - name: Test
        run: npm test
